html{
	background-image: url(../images/pattern1.png);
	height: 100%;
}
body{
	/*display:inline-block;*/
	background-color:#ff8888;
	margin: 0 auto;
	width: 600px;
	min-height: 100%;
	font-size: 14px;
	font-family: "Times New Roman", serif;
	font-color: black;

}
.page{
	background: #F3EBE9;
}
img{
	/*border: 2px solid #7a7a7a;*/
	width:100%;
}
.hero img{
	width:100%;
}
header{
	padding:10px;
	text-transform:uppercase;
}
h1{
	font-size:48px;
	color:white;
	font-family:Helvetica;
	text-transform:uppercase;
}
h2{
	font-family:"Apple Chancery";
	text-transform:uppercase;
}
h3{
	font-family:"Apple Chancery";
	text-transform:uppercase;
	text-decoration: underline;
	padding-bottom: 10px;
	padding-top: 10px;
}
p{
	margin: 10px;
	/*line-height: 20px;  text doublespacing*/

}
.imagerow{
	font-size:0;
}
/* look for div, then any img inside*/
.imagerow img{
	width:24%;
	margin:.5%;
	border:3px solid #ccc;
	box-sizing:border-box;
}
footer{
	text-align: right;
	font-size: 14px;
	color: white;
	font-family: "Times New Roman", serif;
	height: 40px;
}
/*

Style Hints:

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/
